{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}
<div class="container">
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">

              <div class="text-center text-sm-right">
                <span class="badge badge-secondary">admin</span>
              </div>

              <div class="user-avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
              </div>
              <h5 class="user-name">{{ target_user.name }}PK HONG</h5>
              <h6 class="user-email">pyungkang@gmail.com</h6>
            </div>


            <button class="profie-button">Post</button>
            <button class="profie-button">Favorite </button>
            {% if target_user == user %}
            <div><a href="{% url 'accountapp:update' pk=user.pk %}" class="btn btn-success rounded-pill col-12 mt-4">Change Password</a></div>
            <div><a href="{% url 'accountapp:delete' pk=user.pk %}" class="btn btn-danger rounded-pill col-12 mt-4">Delete Account</a></div>
            {% endif %}
          </div>

        </div>

      </div>
    </div>

    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mb-2 text-primary">User Information</h6>
            </div>

            <div><small>{{ target_user.date_joined }}</small></div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" id="fullName" placeholder="Enter full name">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="eMail">Email</label>
                <input type="email" class="form-control" id="eMail" placeholder="Enter email ID">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="nickname">Nick Name</label>
                <input type="text" class="form-control" id="nickname" placeholder="Nickname">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="tags">Tags</label>
                <input type="text" class="form-control" id="tags" placeholder="Tags">
              </div>
            </div>
          </div>


          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
                <button type="button" id="submit" name="submit" class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}