{% extends 'base.html' %}
{% load bootstrap4 %}
{% load socialaccount %}
{% providers_media_js %}


{% block content %}

<div class="studyboard-login">
    <div>
        <h4>Login</h4>
    </div>
    <div>
        <form class="login-form" action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="button">
                <input type="submit" class="btn btn-dark rounded-pill col-6 mt-4" value="Login">
            </div>
        </form>
        <br>
        <div class="">
            <a href="{% provider_login_url 'google' %}"class="google btn">
                <i class="fa fa-google fa-fw">
                </i> Login with Google+
            </a>
        </div>
    </div>
</div>
{% endblock %}