{% extends 'base.html' %}



{% block content %}

<div class="sidenav">
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'leadership' %}">LeaderShip</a>
    <a href="{% url 'contact' %}">Contact</a>
</div>
<div class="container">
    <div class="main-timeline">

        <!-- start experience section-->
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">Frist</span>
                                    <span class="year">1</span>
                                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">Why do you need our service?</h5>
                <p class="description">
                    StudyBoard's community-based, information-providing service to answer your questions is like no other
                </p>
            </div>
        </div>
        <!-- end experience section-->

        <!-- start experience section-->
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">Second</span>
                                    <span class="year">2</span>
                                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">How to use our service?</h5>
                <p class="description">
                    Ask any question and recieve replies from a <br/> wide variety of knowledgeable people!
                </p>
            </div>
        </div>
        <!-- end experience section-->

        <!-- start experience section-->
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">Thrid</span>
                                    <span class="year">3</span>
                                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">SOmething</h5>
                <p class="description">
                    SOmething
                </p>
            </div>
        </div>
        <!-- end experience section-->

        <!-- start experience section-->
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">Fourth</span>
                                    <span class="year">4</span>
                                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">How to use our service?</h5>
                <p class="description">
                    User take pictures of homework or questions <br/> that you don't know and upload them.<br/>

                    You're going to add hashtags to for
                    <br/> people can see what user interesed
                </p>
            </div>
        </div>

        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">Fifth</span>
                                    <span class="year">5</span>
                                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">How to use our service?</h5>
                <p class="description">
                    User take pictures of homework or questions <br/> that you don't know and upload them.<br/>

                    You're going to add hashtags to for
                    <br/> people can see what user interesed
                </p>
            </div>
        </div>

    </div>
</div>
{% endblock %}