{% extends 'base.html' %}



{% block content %}
  <h1 class="rank-title"> STUDY BOARD </h1>
  <h3 class="rank-top" > TOP RANKER👍 </h3>
  <hr>

  <div class="rank-box">



    <div class="col-md-12">
        <!--  유저들    -->
        <div class="user-rank">
          <div class="rank-user">
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <img src="http://cubelink.me/media/article/Koala.jpg" alt="user" class="profile-photo-lg">
              </div>

              <div class="col-md-7 col-sm-7">
                <h5><a href="#" class="profile-link">PK HONG</a></h5>
                <p>CSE major Senior </p>
                <p class="text-muted">#Math #CSE</p>
              </div>

              <div class="col-md-3 col-sm-3 ">
                <button class="btn btn-primary pull-right">Rank . 1</button>
              </div>

            </div>
          </div>
        </div>

        <!--  유저들    -->
        <div class="user-rank">
          <div class="rank-user">
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <img src="http://cubelink.me/media/article/Koala.jpg" alt="user" class="profile-photo-lg">
              </div>

              <div class="col-md-7 col-sm-7">
                <h5><a href="#" class="profile-link">PK HONG</a></h5>
                <p>CSE major Senior </p>
                <p class="text-muted">#Math #CSE</p>
              </div>

              <div class="col-md-3 col-sm-3 ">
                <button class="btn btn-primary pull-right">Rank . 2</button>
              </div>

            </div>
          </div>
        </div>

      <!--  유저들    -->
        <div class="user-rank">
          <div class="rank-user">
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <img src="http://cubelink.me/media/article/Koala.jpg" alt="user" class="profile-photo-lg">
              </div>

              <div class="col-md-7 col-sm-7">
                <h5><a href="#" class="profile-link">PK HONG</a></h5>
                <p>CSE major Senior </p>
                <p class="text-muted">#Math #CSE</p>
              </div>

              <div class="col-md-3 col-sm-3 ">
                <button class="btn btn-primary pull-right">Rank . 3</button>
              </div>

            </div>
          </div>
        </div>

      <!--  유저들    -->
        <div class="user-rank">
          <div class="rank-user">
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <img src="http://cubelink.me/media/article/Koala.jpg" alt="user" class="profile-photo-lg">
              </div>

              <div class="col-md-7 col-sm-7">
                <h5><a href="#" class="profile-link">PK HONG</a></h5>
                <p>CSE major Senior </p>
                <p class="text-muted">#Math #CSE</p>
              </div>

              <div class="col-md-3 col-sm-3 ">
                <button class="btn btn-primary pull-right">Rank . 4</button>
              </div>

            </div>
          </div>
        </div>

      <!--  유저들    -->
        <div class="user-rank">
          <div class="rank-user">
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <img src="http://cubelink.me/media/article/Koala.jpg" alt="user" class="profile-photo-lg">
              </div>

              <div class="col-md-7 col-sm-7">
                <h5><a href="#" class="profile-link">PK HONG</a></h5>
                <p>CSE major Senior </p>
                <p class="text-muted">#Math #CSE</p>
              </div>

              <div class="col-md-3 col-sm-3 ">
                <button class="btn btn-primary pull-right">Rank . 5</button>
              </div>

            </div>
          </div>
        </div>

      <!--  유저들    -->
        <div class="user-rank">
          <div class="rank-user">
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <img src="http://cubelink.me/media/article/Koala.jpg" alt="user" class="profile-photo-lg">
              </div>

              <div class="col-md-7 col-sm-7">
                <h5><a href="#" class="profile-link">PK HONG</a></h5>
                <p>CSE major Senior </p>
                <p class="text-muted">#Math #CSE</p>
              </div>

              <div class="col-md-3 col-sm-3 ">
                <button class="btn btn-primary pull-right">Rank . 6</button>
              </div>

            </div>
          </div>
        </div>

      <!--  유저들    -->
        <div class="user-rank">
          <div class="rank-user">
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <img src="http://cubelink.me/media/article/Koala.jpg" alt="user" class="profile-photo-lg">
              </div>

              <div class="col-md-7 col-sm-7">
                <h5><a href="#" class="profile-link">PK HONG</a></h5>
                <p>CSE major Senior </p>
                <p class="text-muted">#Math #CSE</p>
              </div>

              <div class="col-md-3 col-sm-3 ">
                <button class="btn btn-primary pull-right">Rank . 7</button>
              </div>

            </div>
          </div>
        </div>

      <!--  유저들    -->
        <div class="user-rank">
          <div class="rank-user">
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <img src="http://cubelink.me/media/article/Koala.jpg" alt="user" class="profile-photo-lg">
              </div>

              <div class="col-md-7 col-sm-7">
                <h5><a href="#" class="profile-link">PK HONG</a></h5>
                <p>CSE major Senior </p>
                <p class="text-muted">#Math #CSE</p>
              </div>

              <div class="col-md-3 col-sm-3 ">
                <button class="btn btn-primary pull-right">Rank . 8</button>
              </div>

            </div>
          </div>
        </div>

      <!--  유저들    -->
        <div class="user-rank">
          <div class="rank-user">
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <img src="http://cubelink.me/media/article/Koala.jpg" alt="user" class="profile-photo-lg">
              </div>

              <div class="col-md-7 col-sm-7">
                <h5><a href="#" class="profile-link">PK HONG</a></h5>
                <p>CSE major Senior </p>
                <p class="text-muted">#Math #CSE</p>
              </div>

              <div class="col-md-3 col-sm-3 ">
                <button class="btn btn-primary pull-right">Rank . 9</button>
              </div>

            </div>
          </div>
        </div>

      <!--  유저들    -->
        <div class="user-rank">
          <div class="rank-user">
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <img src="http://cubelink.me/media/article/Koala.jpg" alt="user" class="profile-photo-lg">
              </div>

              <div class="col-md-7 col-sm-7">
                <h5><a href="#" class="profile-link">PK HONG</a></h5>
                <p>CSE major Senior </p>
                <p class="text-muted">#Math #CSE</p>
              </div>

              <div class="col-md-3 col-sm-3 ">
                <button class="btn btn-primary pull-right">Rank . 10</button>
              </div>

            </div>
          </div>
        </div>


    </div>

  </div>
{% endblock %}