html,
body {
  background-color: rgb(242, 245, 249);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}

/*admin */

.noti {
  border-radius: 10rem;
  box-shadow: #d5d5d5 0 0 15px;
  max-width: 1200px;
  margin: 0.5rem auto;
  height: 5rem;
}

.noti-box {
  border-radius: 10rem;
  object-fit: cover;
  display: inline-block;
  height: 5rem;
  width: 5rem;
  vertical-align: middle;
}

.noti-text {
  display: inline-block;
  width: calc(100% - 7rem);
  vertical-align: middle;
  margin-left: 2%;
  margin-top: 0.35rem;
}

.noti-mes {
  display: inline-block;
  font-size: 1rem;
  overflow: hidden;
  max-height: 2.15rem;
  margin: 0;
  line-height: normal;
  margin-top: 0.2rem;
}

.noti-date {
  color: #888;
  margin-bottom: 0;
  font-size: 0.8rem;
}
