

.leadership{
    font-family: Nunito;
    text-align: center;
    font-size: 3rem;
}
.leadership-team{
    font-family: Nunito;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 50px;
}
.material-icon{
    box-shadow: 0 0 4px #6c6061;
    border-radius: 10rem;
    padding: .4rem
}
.icon-leader{
    text-align: center;

}


#fh5co-services, #fh5co-testimonials, #fh5co-counters, #fh5co-work, #fh5co-contact, #fh5co-about {
    padding: 4em 0;
}
@media screen and (max-width: 768px) {
    #fh5co-services, #fh5co-testimonials, #fh5co-counters, #fh5co-work, #fh5co-contact, #fh5co-about {
        padding: 2em 0;
    }
}

.fh5co-person {
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    padding: 30px 30px 30px 30px;
    float: left;
    width: 100%;
    position: relative;
    text-align: center;

    box-shadow: 0 0 4px #6c6061;
}
@media screen and (max-width: 992px) {
    .fh5co-person {
        margin-bottom: 3.5em;
    }
}
.fh5co-person figure {
    position: absolute;
    margin-top: -60px;
    top: 0;
    left: 50%;
    margin-left: -60px;
    display: block;
    margin-bottom: 50px;
}
.fh5co-person figure img {
    width: 120px;
    border: 2px solid #f2f2f2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.fh5co-person h3 {
    margin-bottom: 0px;
}
.fh5co-person .fh5co-position {
    color: #b3b3b3;
    display: block;
    margin-bottom: 20px;
}
