
@import url(https://fonts.googleapis.com/css?family=Nunito);
body{
    overflow-x: hidden;
    color: rgb(29,29,31);
    letter-spacing: -0.05em;
    background: white;
}

.logoHome{
    font-size: 1.5rem;
    font-family: Nunito;
    font-weight: bold;
}

a:hover, a:active, a:focus {
    color: lightgray;
    outline: none;
}

.outer{
    display: table;
    padding: 0 1rem;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-image: url("http://cubelink.me/media/article/background.jpg");
    /*background-position: right bottom, left top;*/
    background-repeat: no-repeat, repeat;
}
#second-image{

    background-image: url("http://cubelink.me/media/article/nice.png");
    background-position: center center;
    display: inline-flex;
    /*padding: 0 1rem;*/
    background-size: cover;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-repeat: no-repeat, repeat;
}

.leftside{
    text-align: left;
}
.rightside{
    padding: 90px;

}
rightside-box{
    padding: 90px;
}
.leftside-box{
    padding: 90px;
}
.leftside-box h1{
    font-weight: bold;
    font-family: Nunito;
    font-size: 50px;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
}
.SIGN {
/*//display: inline-block;*/
    margin-bottom: 0.7rem;
    margin-right: 0.7rem;
}
.c-tag {
    font-family: Nunito;
    display: inline-block;
    background: DodgerBlue;
    min-width: 100px;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.8rem 1rem;
    color: white;
    border-radius: 100px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 3);
}

.first-description{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.global-nav {
    font-family: Nunito;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 44px;
    padding: 0 1rem; /*좌우 하는거 */
}
.local-nav {
    font-family: Nunito;
    top: 45px;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 52px;
    padding: 0 1rem;
    border-bottom: 1px solid #ddd;
}
.local-nav-links {
    display: flex;
    align-items: center;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

/*제외하는거 옆에있는걸 */
.local-nav-links a:not(.product-name) {
    margin-left: 2em;
}

a{
    color: rgb(29,29,31);
    text-decoration: none;
}

.local-nav-links a {
    font-size: 0.8rem;
}

.global-nav-links {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    font-size: 1.1rem;
}

/*구체적인 클래스 네임 */
.local-nav-links .product-name {
    margin-right: auto;
    font-size: 1.4rem;
    font-weight: bold;
}

.product-name{
    margin-right: auto;
}

/*홈페이지 스크롤 내리는 부분 */
.scroll-section{ padding-top: 50vh; }

/*스크롤 1번공간*/
#scroll-section-0 h1{
    font-size: 4rem;
    text-align: center;
    font-width: bold;

}
.main-message{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 3em;
    font-size: 2.5rem;
}
.main-message p {
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}
.main-message small{
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5em;
}

/*스크롤 2번공간*/
.description {
    /*max-width: 1000px;*/
    /*margin: 0 auto;*/
    font-size: 1.2rem;
    color: #888;
    padding: 0 1rem;
}
.description strong {
    float: left;
    margin-right: 0.2em;
    font-size: 3rem;
    color: rgb(29,29,31);
}

/*스크롤 3번째 */
#scroll-section-2 .main-message{
    font-size:3.5rem;
}

.desc-message{
    width: 50%;
    font-weight: bold;
}

.pin{
    width:1px;
    height: 100px;
    background: rgb(29,29,31);
}

/*4 번째 스크롤 섹션*/
.mid-message{
    padding: 0 1rem;
    font-size: 2rem;
    color: #888;
}

.mid-message strong{
    color:rgb(29,29,31);
}

.canvas-caption{
    padding: 0 1rem;
    color: #888;
    text-align: center;
}

/*footer*/
.footer{
 display: flex;
    align-items:center;
    justify-content:center;
    height: 7rem;
    background: #dddddd;
}

.sticky-elem{
    display:none;
    position: fixed;
    top: 0;
    left:0;
    witdh:100%;
}
body#show-scene-0 #scroll-section0 .sticky-elem,
show-scene-1 #scroll-section1 .sticky-elem
show-scene-2 #scroll-section2 .sticky-elem
show-scene-3 #scroll-section3 .sticky-elem{
    display: block;
}


/*모바일*/
@media screen and (max-width: 1024px) {
    #scroll-section-0 h1{
        font-size: 9vw;
    }
    .main-message{
        font-size: 4vw;
    }
    .description{
        font-size: 2rem;
    }
    /*    섹션 2*/
    #scroll-section-2 .main-message{
        font-size:6vw;
    }
    .main-message small{
        font-size: 1.5vw;
    }
    .desc-message{
        width: 20%;
    }
    .mid-message{
        font-size: 4vw;
    }
    .canvas-caption{
        font-size: 2rem;
    }
}